<div class = 'view'>  
	<%= form_for @account do |f| %>


	  <%= f.label :account_number %><br />
	  <%= f.text_field :account_no %><br />

	  <%= f.label :name %><br />
	  <%= f.select :user_id, options_for_select %><br />
	  <%= f.submit %>
	<% end %>
</div>